<p>Ones potential is so huge, and so vast,
Yet, why is it, that so many fail, and usually come last?,
So few truly succeed, that when they do, others are jealous and totally aghast,
Let’s all believe in success, and I promise that failure will be part of the past.

The things you think, and the things you believe,
If they are true, then those are the things that you will achieve,
But if your thoughts are false, or they are used to deceive,
You’ll be stabbed in the back, and that is a promise that you had better believe.

Get rid of depression, worry and fear,
Because success is so often so very, very near,
Tell your subconscious , “success is mine”, and tell it to hear,
Remind it often, then success will be yours, that is a promise, my dear.

Just ask the “DIVINE”, for whatever you desire,
For happiness or abundance, or anything else to which you aspire,
It’s now time to succeed, so go ahead, set your goals, and light that fire,
Do it with passion, and I promise you this, you’ll soar higher and higher.
</p>